:root {
    --primary: #6cacec;
    --secondnary: #96c92c;
    --third: #4aa9f9;
    --fourth: #f3764a;
    --fifth: #393939;
    --sixth: #f6f5f3;

    --text-color: rgb(22, 24, 35);
    --text-color-secondnary: #ffffff;
    --text-color-third: #6b6b6b;
    --text-color-fourth: #2e2e2e;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
[tabindex] {
    outline: none;
    border: none;
}

input {
    border-radius: 4px;
    border: solid 1px #d1d5db;
    outline: none;
}

a {
    text-decoration: none;
}

// Fonts emmbeded

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
